:root{
	/** FUENTES **/
	--fuenteHeading: 'PT Sans', sans-serif;
	--fuenteParrafos: 'Open Sans', sans-serif;
	/** COLORES **/
	--primario: #1693a5;   /*22,147,165*/
	--secundario: #45b5c4; /*69,181,196*/
	--primario-light: #c7ede8;
	--secundario-light: #a0ded6;
	--blanco: #ffffff;
	--negro: #000000;
}
html{
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: 62.5%;	/* Para que 1rem = 10px*/
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
	font-family: var(--fuenteParrafos);
	font-size: 1.6rem;
	line-height: 2;
}

/***** GLOBALES *****/ 
a{
	text-decoration: none;
}
h1,h2,h3,h4{
	font-family: var(--fuenteHeading);
}
h1{
	font-size: 4.8rem;
}
h2{
	font-size: 4rem;
}
h3{
	font-size: 3.2rem;
}
h4{
	font-size: 2.8rem;
}
img{
	max-width: 100%;
}
footer{
	background-color: var(--secundario);
	margin-top: 20rem;
}
.centered-section{
	border: solid black thin;
	margin-top: 5rem;
	margin-right: auto;
	margin-left: auto;
	max-width: 140rem;
}
.social-icon{
	opacity: 0.5;
	transition: 0.5s;
	font-size: 2rem;
	margin-right: 0.7rem;
	margin-left: 0.7rem;
}
.social-icon:hover{
	opacity: 1;
	transition: 0.5s;
}
.footer-link:hover{
	font-weight: bold;
}
@media (max-width: 768px){
	.social-icon{
		margin-left: 1.3rem;
		margin-right: 1.3rem;
	}
}
@media(max-width: 576px){
	footer{
		margin-top: 10rem;
	}
	.smdv-subtitle{
		font-size: 3rem;
	}
}
@media(max-width: 400px){
	footer{
		margin-top: 8rem;
	}
}
/***** UTILIDADES *****/
.no-margin{
	margin: 0;
}
.no-padding{
	padding: 0;
}
.centrar-texto{
	text-align: center;
}
.title-sub{
	font-style: italic;
	font-weight: normal;
}
#blank_space{
	height: 7rem;
}
.nav-sup{
	background-color: transparent;
	position: relative;
	z-index: 1;
}
/***** CSS PARA NAVBAR Y HEADER *****/
#logo__title{
	font-family: var(--fuenteHeading);
	font-size: 2.8rem;
}
#header__link{
	font-family: var(--fuenteParrafos);
	font-size: 1.8rem;
}
#log__in{
	font-family: var(--fuenteParrafos);
	font-size: 1.8rem;
}
#menu__toggler{
	font-size: 2.5rem;
}
@media (min-width: 768px){
	#header__link{
		max-height: 5rem;
		min-height: 5rem;
	}
	#header__link:hover{
		border-bottom: solid var(--secundario) thin;
		transition: .5s;
	}
	.navegacion{
		justify-content: end;
		gap: 3rem;
	}
	.navegacion__enlaces{
		gap: 1.5rem;
	}
}
@media (max-width: 767px){
	.nav-sup{
		padding: 0;
	}
	.nav-contene{
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.navegacion{
		background-color: white;
		width: 100%	;
		position: absolute;
		top: 6.3rem;
	}
	.navegacion__enlaces{
		padding: 1rem 2rem;
	}
	.list-element{
		width: fit-content;
	}
	#log__in{
		margin-left: 2rem;
		margin-bottom: 2rem;
	}
	#logo__title{
		margin-left: 2rem;
	}
	#menu__toggler{
		margin-right: 2rem;
	}
}
@media (max-width: 318px){
	.nav-contene{
		display: flex;
		flex-direction: column;
	}
	#logo__title{
		margin: 0;
	}
	#menu__toggler{
		margin: 1rem 0;
	}
	.navegacion{
		display: flex;
		flex-direction: column;
		top: 12.8rem;
	}
	.navegacion__enlaces{
		flex-direction: column;
	}
	#log__in{
		margin-left: 0;
	}
}







/***** HEADER *****/
.header{
	position: relative;
	bottom: 7.2rem;
	z-index: 0;
	margin: 0;
	padding: 10rem 7rem;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../img/contact-center.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
  	display: flex;
 	min-height: 60rem;
 	justify-content: center;
  	align-items: center;
  	margin-bottom: 15rem;
}
.header__grid{
  	width: 100%;
  	height: 100%;
  	padding: 10rem;
  	border: solid white thin;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	grid-auto-columns: 1fr;
  	grid-template-columns: 0.75fr 0.25fr;
  	grid-template-rows: auto;
  	text-align: center;

}
.title-1{
	font-size: 6rem;
	margin-bottom: 3rem;
	line-height: 6rem;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: var(--blanco	);
	font-weight: bold;
}
.header__subtitle{
 	font-size: 2.5rem;
  	line-height: 3rem;
  	font-weight: 300;
  	color: var(--blanco);
}
.button-flex{
	margin-top: 4rem;
	padding: 5px;
	min-width: 20rem;
	box-sizing: border-box;
}
@media (max-width: 767px){
	.header{
		min-height: 45rem;
	}
	.header__title{
		margin-top: 5rem;
	}
	.title-1{
		font-size: 3.5rem;
	}
	.header__subtitle{
		font-size: 2.3rem;
	}
}
@media (max-width: 575px) {
	.header{
		margin-bottom: 10rem;
	}
	.header__title{
		margin-top: 5rem;
	}
	.header__subtitle{
		margin-top: 1rem;
	}
	.title-1{
		font-size: 3rem;
	}
}
@media (max-width: 400px){
	.header{
		margin-bottom: 8rem;
	}
}









/***** SECTION ICONOS *****/
.main__contene{
	margin: 0;
	padding: 1rem;
}
#icono__title{
	color: var(--primario);
	text-transform: uppercase;
	font-size: 1.2rem;
}
.iconos__clientes{
	margin-top: 4rem;
}
.icono{
	text-align: center;
	margin: 1rem 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 30rem;
}
.img__icono{
	height: 10rem;
	margin: 1rem 0;
	padding: 5px;
	opacity: 0.5;
}
#icono__texto{
	text-transform: uppercase;
	font-size: 2.5rem;
	max-width: 20rem;
}
@media(max-width: 890px){
	.icono{
		max-width: 25rem;
	}
	.img__icono{
		height: 7rem;
	}
}
@media(max-width: 768px){
	#icono__title{
		font-size: 1.3rem;
	}
	#icono__texto{
		font-size: 2rem;
	}
}
@media(max-width: 400px){
	.icono{
		margin: 0.3rem 0rem;
	}
	.img__icono{
		height: 6rem;
	}
	#icono__texto{
		font-size: 1.8rem;
	}
}








/***** SECTION - ABOUT US *****/
.seccion-somos{
	padding: 1rem;
	width: 100%;
	margin: 0;
	margin-top: 15rem;
	display: flex;
}
.somos__img{
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.img-somos{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0;
}
.somos-flex{
	padding: 0;
}
.title-section{
	display: flex;
	align-items: start;
	justify-content: start;
	padding: 0;
	max-width: 9rem;
	margin: 0;
	color: var(--primario);
}
#title-somos1{
	text-transform: uppercase;
	font-size: 1rem;
	align-self: start;
	width: 9rem;
	text-align: start;
	margin: 0;
}
#title-somos2{
	text-transform: uppercase;
	font-size: 3rem;
}
.somos-content{
	margin: 0;
}
#contenido-somos{
	font-size: 1.4rem;
}
#button-type3{
	font-size: 1.6rem;
	border-radius: 1.8rem;
	padding: 8px 30px;
	background-color: var(--primario);
	border-color: var(--primario);
}
#button-type3:hover{
	background-color: transparent;
	color: var(--primario);
	border: solid var(--primario) thin;
	padding: 8px 30px;
	transition: .5s;
}
@media (min-width: 992px) and (max-width: 1322px) {
	.somos-flex{
		display: inline-block;
	}
	.title-section{
		width: 100%;
		max-width: 100%;
	}
	#title-somos1{
		font-size: 1.2rem;
		width: 100%;
		padding: 0;
	}
	.somos-content{
		width: 100%;
	}
	#title-somos2{
		font-size: 2.7rem;
	}
	#contenido-somos{
		font-size: 1.2rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.somos-flex{
		margin-top: 5rem;
		padding: 0;
	}
	.title-section{
		width: inherit;
		min-width: inherit;
	}
	#title-somos1{
		font-size: 1rem;
		max-width: 100%;
		min-width: 100%;
		width: 100%;
		padding: 0;
		text-align: center;
	}
	#title-somos2{
		font-size: 3.2rem;
	}
	#contenido-somos{
		font-size: 1.5rem;
	}
	#button-type3{
		font-size: 1.6rem;
	}
}
@media (max-width: 768px) {
	.somos-flex{
		margin-top: 5rem;
		padding: 0;
	}
	.title-section{
		width: inherit;
		min-width: inherit;
	}
	#title-somos1{
		font-size: 1rem;
		max-width: 100%;
		min-width: 100%;
		width: 100%;
		padding: 0;
		text-align: center;
	}
	#title-somos2{
		font-size: 3.2rem;
	}
	#contenido-somos{
		font-size: 1.5rem;
	}
	#button-type3{
		font-size: 1.6rem;
	}
}
@media (max-width: 613px) {
	.seccion-somos{
		margin-top: 10rem;
	}
	.title-section{
		display: flex;
		max-width: 100%;
	}
	#title-somos1{
		font-size: 1.2rem;
		text-align: start;
	}
	.somos-content{
		width: 100%;
		margin-top: 0.5rem;
	}
	#title-somos2{
		font-size: 3rem;
	}
	#contenido-somos{
		font-size: 1.4rem;
	}
	#button-type3{
		font-size: 1.5rem;
	}
	.seccion-somos{
		padding: 2rem;
	}
}
@media (max-width: 400px){
	.seccion-somos{
		margin-top: 8rem;
	}
}






/***** SECTION FEEDBACK *****/
.section-feedback{
	display: flex; 
	flex-direction: column; 
	text-align: center; 
	margin-top: 15rem;
	padding: 2rem 0;
}

.title-feedback{
	color: var(--primario);
	text-transform: uppercase;
	font-size: 1.2rem;
}
.slide-container{
  	max-width: 140rem;
  	width: 100%;
  	padding: 0;
}
.slide-content{
  	margin: 0 5rem;
  	overflow: hidden;
  	border-radius: 25px;
}
.card{
  	border-radius: 25px;
  	background-color: var(--blanco);
}
.image-content,
.card-content{
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 10px 14px;
  	border: solid lightgray 1px;
}
.card-content{
	border-top: none;
	border-radius: 0 0 25px 25px;
}
.image-content{
  	position: relative;
  	row-gap: 5px;
  	padding: 25px 0;
  	border-bottom: none;
  	border-radius: 25px 25px 0 0;
}
.overlay{
  	position: absolute;
  	left: 0;
  	top: 0;
  	height: 100%;
  	width: 100%;
	background-image: url("../img/smooth-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  	border-radius: 25px 25px 0 0;
}
.card-image{
  	position: relative;
  	height: 14rem;
  	width: 14rem;
  	border-radius: 50%;
}
.card-image .card-img{
  	height: 100%;
  	width: 100%;
  	object-fit: cover;
  	border-radius: 50%;
}
.name{
  	font-size: 1.7rem;
  	font-weight: 500;
  	color: #333;
}
.incharge{
	font-size: 1.5rem;
  	font-weight: 300;
  	font-style: italic;
  	color: grey;
}
.description{
  	font-size: 1.6rem;
  	color: #707070;
  	text-align: center;
  	margin-bottom: 2rem;
  	margin-top: 2rem;
}
.swiper-navBtn{
  	color: var(--primario);
  	transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  	color: black;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  	font-size: 2rem;
}
.swiper-button-next{
  	right: 0;
}
.swiper-button-prev{
  	left: 0;
}
/** Medium-Large screens **/
@media (max-width: 962px){
	.card-image{
		height: 13rem;
		width: 13rem;
	}
	.description{
	  	font-size: 1.6rem;
	}
	.name{
	  	font-size: 1.6rem;
	}
	.incharge{
		font-size: 1.4rem;
	}
}
/** Medium screens **/
@media (max-width: 768px){
	.card-image{
		height: 10rem;
		width: 10rem;
	}
	.description{
	  	font-size: 1.5rem;
	}
	.name{
	  	font-size: 1.6rem;
	}
	.incharge{
		font-size: 1.3rem;
	}
}
/** Small screens **/
@media (max-width: 576px) {
	.section-feedback{
		margin-top: 10rem;
	}
  	.slide-content{
    	margin: 0 7rem;
  	}
  	.card-image{
	  	height: 10rem;
	  	width: 10rem;
	}
	.description{
	  	font-size: 1.4rem;
	}
	.name{
	  	font-size: 1.4rem;
	}
	.incharge{
		font-size: 1.2rem;
	}
  	.swiper-navBtn{
    	display: none;
  	}
}
/** Extra small screens **/
@media (max-width: 400px) {
	.section-feedback{
		margin-top: 8rem;
	}
}






/***** SECTION CONTACT *****/
.contact-section{
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(https://cdn.bizneo.com/blog/wp-content/uploads/2020/04/departamentos-de-una-empresa.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
  	display: flex;
 	min-height: 60rem;
 	margin-right: auto;
  	margin-left: auto;
  	margin-top: 15rem;
  	padding-right: 5%;
  	padding-left: 5%;
  	align-items: center;
}
.contact__grid{
  	display: flex;
  	max-width: 940px;
  	margin-right: auto;
  	margin-left: auto;
  	flex-direction: column;
  	align-items: center;
  	grid-auto-columns: 1fr;
  	grid-template-columns: 0.75fr 0.25fr;
  	grid-template-rows: auto;
  	text-align: center;
}
.title-3{
	margin-bottom: 3rem;
	line-height: 6rem;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--blanco);
}
.contact__subtitle{
 	font-size: 23px;
  	line-height: 3rem;
  	font-weight: 300;
  	color: var(--blanco);
}
.button-flex{
	margin-top: 4rem;
	padding: 5px;
	min-width: 20rem;
	box-sizing: border-box;
}
@media (max-width: 767px){
	.title-3{
		font-size: 3.8rem;
	}
	.contact__subtitle{
		font-size: 2.3rem;
	}
}
/** Small screens **/
@media (max-width: 576px) {
	.contact-section{
		margin-top: 10rem;
	}
}
/** Extra small screens **/
@media (max-width: 400px) {
	.contact-section{
		margin-top: 8rem;
	}
}






/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/


/******************* CONTACTO.HTML *********************/

/***** MAIN CONTENEDOR *****/
.mainContact{
	box-sizing: border-box;
	padding: 0;
	position: relative;
	z-index: 0;
}
#T-sect{
	position: relative;
	z-index: 0;
	bottom: 7.3rem;
	margin: 0;
	height: 120vh;
	padding-bottom: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 10rem;
	background-image: url("../img/blue-wave.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
@media screen and (max-width: 318px){
	#T-sect{
		bottom: 12.7rem;
	}
}
#ct{
	text-transform: uppercase;
	font-size: 9rem;
	letter-spacing: .4rem;
}
#cst{
	font-size: 2.5rem;
	margin: 1rem 5rem;
}
#conta-contene{
	display: flex; 
	justify-content: center; 
	margin-top: 6rem;
}
.col-icon{
	display: flex; 
	align-content: center; 
	position: relative; 
	justify-content: center;
	width: fit-content;
}
.col-icon div{
	background-color: lightcyan; 
	color: teal; 
	border-radius: 50%; 
	position: relative; 
	height: 5.5rem; 
	width: 5.5rem; 
	display: flex; 
	align-self: center;
}
.col-icon div i{
	font-size: 3rem; 
	width: 100%; 
	align-self: center; 
	padding-top: 0;
}
.col-parr{
	display: flex; 
	flex-direction: column; 
	padding: 0; 
	width: fit-content;
	justify-content: center;
}
.col-parr p{
	text-align: left;
	margin: 0;
	padding-left: 5px;
	font-size: 1.6rem;
}
#opt1{ 
	padding: 0;
	margin-right: 1rem;
	width: fit-content;
}
#opt2{
	padding: 0;
	margin-left: 1rem;
	width: fit-content;
}
#pb{
	font-weight: bold; 
	font-size: 1.8rem;
}
@media(max-width: 991px){      /**** For medium screen ****/
	.mainContact{
		margin-top: 0rem;
	}
	#T-sect{
		padding-bottom: 15rem;
	}
	#ct{
		font-size: 7rem;
		letter-spacing: .3rem;
		margin: 0;
	}
	#cst{
		font-size: 2.2rem;
		margin-top: 3rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	#conta-contene{
		margin-top: 3rem;
	}
	#opt1{
		padding-left: 0;
	}
	#opt2{
		padding-left: 0;
	}
	.col-parr p{
		font-size: 1.4rem;
	}
}
@media(max-width: 767px){      /**** For small-medium screen ****/
	#opt1{
		justify-content: center;
		margin-bottom: 1rem;
		padding: 0 4rem;
	}
	#opt2{
		justify-content: center;
		margin-bottom: 1rem;
		padding-right: 9rem;
	}
}
@media(max-width: 575px){      /**** For small screen ****/
	#T-sect{
		height: 100vh;
		padding-bottom: 8rem;
	}
	#ct{
		font-size: 5rem;
		letter-spacing: 0rem;
		margin: 0;
	}
	#cst{
		font-size: 2rem;
		margin: 3rem 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	#conta-contene{
		margin-top: 3rem;
	}
	#opt1{
		margin-bottom: 1rem;
		justify-content: center;
	}
	#opt2{
		justify-content: center;
	}
	.col-icon div{
		height: 4.8rem; 
		width: 4.8rem;
	}
	.col-icon div i{
		font-size: 2.5rem;
	}
	.col-parr p{
		font-size: 1.4rem;
	}
	#pb{
		font-size: 1.6rem;
	}
}
@media(max-width: 380px){
	#T-sect{
		padding-bottom: 0rem;
	}
	#ct{
		font-size: 4rem;
	}
	#cst{
		font-size: 1.6rem;
	}
	#opt1{
		width: 100%;
		padding: 0;
	}
	#opt2{
		width: 100%;
	}
}

.conteneForm{
	width: 100%;
	display: flex; 
	justify-content: space-evenly; 
	margin-top: 10rem;
}
.imagen-contacto .img-contacto{
  	height: 100%;
  	min-height: 65vh;
  	width: 100%;
  	border-radius: .3rem;
  	object-fit: cover;
}
.contactoForm{
	border: solid lightgrey thin;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 3rem 3rem;
}
.rowForm{
	padding: 0 0;
	justify-content: space-evenly;
}
.colForm{
	margin-top: 1rem;
}
.form-label span{
	font-size: 1rem;
	font-style: italic;
	color: grey;
}
#nameForm, #emailForm, 
#companyForm, #phoneForm,
#messageForm{
	font-size: 1.6rem;
	padding: 1rem;
}
input[type=name]:focus,
input[type=email]:focus,
input[type=text]:focus,
input[type=tel]:focus{
	border: solid var(--primario) thin;
	box-shadow: 0 0 0 2px rgba(69,181,196,0.5);
}
#messageForm:focus{
	border: solid var(--primario) thin;
	box-shadow: 0 0 0 2px rgba(69,181,196,0.5);
}
textarea{
	resize: none;
}
input:hover, textarea:hover{
	border-color: grey;
}
@media(max-width: 991px){
	.contactoForm{
		margin-top: 8rem;
	}
}
@media(max-width: 575px){
	.conteneForm{
		padding-right: 2rem;
		padding-left: 2rem;
		margin-top: 8rem;
	}
}





/***** OUR CLIENTS CONTENEDOR (contacto.html) *****/
#our-clients{
	margin-top: 25rem;
	display: flex;
	padding: 12rem 0;
	align-items: center;
	background-image: url(https://diyetlif.com.tr/wp-content/uploads/2016/01/diyetlif-main-slider-background-1920x600px.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
#title-cliente{
	margin: 0;
	padding: 0;
	display: flex;
}
#titulo{
	min-width: fit-content;
	max-width: fit-content;
}
#titulo h3{
	font-size: 1.4rem;
	align-self: start;
}
#subtitulo{
	min-width: 75%;
	max-width: 75%;
}
#subtitulo h3{
	font-size: 4.5rem;
}

#icons-clientes{
	margin: 0;
	padding: 0;
	display: flex;
}
.icono2{
	display: flex;
	text-align: center;
	padding: 1rem;
	margin: 5px 0;
}
.img__icono2{
	height: 7rem;
	margin: auto auto;
	opacity: 0.5;
}
/*** For extra-large devices ***/
@media(min-width: 1201px){
	#subtitulo{
		min-width: 50%;
		max-width: 90%;
	}
	#subtitulo h3{
		font-size: 5rem;
	}
}
/*** For large devices ***/
@media(max-width: 1200px){
	#our-clients{
		margin-top: 18rem;
	}
	#subtitulo{
		min-width: 50%;
	}
	#subtitulo h3{
		font-size: 4.5rem;
	}
}
/*** For medium devices ***/
@media(max-width: 991px){
	#our-clients{
		margin-top: 15rem;
	}
	#titulo h3{
		font-size: 1.3rem;
	}
	#subtitulo{
		max-width: 90%;
	}
	#subtitulo h3{
		font-size: 4rem;
	}
	#icons-clientes{
		margin-top: 5rem;
	}
	.img__icono2{
		height: 6.5rem;	
	}
}
/*** For small devices ***/
@media(max-width: 767px){
	#our-clients{
		padding-left: 3rem;
		padding-right: 3rem;
		margin-top: 12rem;
	}
	#titulo h3{
		font-size: 1.2rem;
	}
	#subtitulo{
		min-width: 50%;
	}
	#subtitulo h3{
		font-size: 3.5rem;
	}
	.img__icono2{
		height: 6rem;	
	}
}
/*** For extra small devices ***/
@media(max-width: 575px){
	#our-clients{
		padding-left: 3rem;
		padding-right: 3rem;
		margin-top: 8rem;
	}
	#subtitulo{
		min-width: 100%;
		max-width: 100%;
	}
	#subtitulo h3{
		padding-left: 1.3rem;
		font-size: 2.8rem;
	}
}
/*** Specific query for icons on extra small screen ***/
@media(max-width: 480px){
	#icons-clientes{
		justify-content: center;
	}
	.icono2{
		width: 40%;
		margin: .5rem;
	}
}





/***** MAPS CONTENEDOR (contacto.html) *****/
#section-encuentra{
	margin-top: 20rem;
}
#map-title{
	color: var(--primario);
	text-transform: uppercase;
	font-size: 1.5rem;
	margin-top: 3rem;
}
#contene-maps{
	margin-top: 10rem;
	padding: 0;
}
#contene-maps hr{ 
	margin: 8rem auto;
}
.ubi{
	margin-top: 1.5rem;
	display: flex; 
	padding: 0; 
	align-items: center; 
	justify-content: center;
}
.map{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	margin: 0; 
	padding: 0; 
	width: 600px; 
	height: 350px; 
	position: relative; 
	left: 8rem; 
	border-radius: 3rem;
}
.map-2{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	margin: 0; 
	padding: 0; 
	width: 600px; 
	height: 350px; 
	position: relative; 
	right: 8rem; 
	border-radius: 3rem;
}
.dir{
	background-image: url("../img/blue-backgroun-simple.webp");
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 8rem; 
	padding: 5rem 10rem; 
	width: 700px; 
	height: 450px; 
	border-radius: 3rem;
}
.dir-2{
	background-image: url("../img/blue-backgroun-simple.webp");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 8rem; 
	padding: 5rem 10rem; 
	width: 700px; 
	height: 450px; 
	border-radius: 3rem;
}
#dir-contene{
	border: solid white 2px; 
	border-style: dashed; 
	border-radius: 3rem; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	width: 100%; 
	height: 100%;
}
#dir-contene h2{
	margin-bottom: 3.5rem;
}
#dir-contene h3{
	margin-bottom: 1.5rem;
}
#dir-contene h4{
	font-size: 2.3rem;
	margin-bottom: 3rem;
}
.social-icon-map{
	opacity: 0.5;
	transition: 0.5s;
	font-size: 2rem;
}
.social-icon-map:hover{
	opacity: 1;
	transition: 0.5s;
}
/***** For extra-large devices (first breakpoint) *****/
@media (min-width: 1399px){
	.disp-2{
		display: none;
	}
}
/***** For extra-large devices (second breakpoint) *****/
@media (max-width: 1399px){
	.map{
		width: 500px; 
		height: 350px; 
		left: 5rem; 
	}
	.dir{
		margin-right: 5rem; 
		padding: 5rem 6rem; 
		width: 600px; 
		height: 450px;
	}
	.map-2{
		width: 500px; 
		height: 350px; 
		right: 5rem; 
	}
	.dir-2{
		margin-left: 5rem; 
		padding: 5rem 6rem; 
		width: 600px; 
		height: 450px;
	}
	.disp-2{
		display: none;
	}
}
/***** For large devices (first breakpoint) *****/
@media (max-width: 1200px){
	.map{
		width: 500px; 
		height: 350px; 
		left: 4rem; 
	}
	.dir{
		margin-right: 4rem; 
		padding: 5rem 6rem; 
		width: 500px; 
		height: 450px;
	}
	.map-2{
		width: 500px; 
		height: 350px; 
		right: 4rem; 
	}
	.dir-2{
		margin-left: 4rem; 
		padding: 5rem 6rem; 
		width: 500px; 
		height: 450px;
	}
}
/***** For large devices (second breakpoint) *****/
@media (max-width: 1050px){
	.map{
		width: 450px; 
		height: 350px; 
		left: 4rem; 
	}
	.dir{
		margin-right: 4rem; 
		padding: 5rem 6rem; 
		width: 480px; 
		height: 450px;
	}
	.map-2{
		width: 450px; 
		height: 350px; 
		right: 4rem; 
	}
	.dir-2{
		margin-left: 4rem; 
		padding: 5rem 6rem; 
		width: 480px; 
		height: 450px;
	}
}
/***** For medium devices : first breakpoint*****/
@media (max-width: 991px){
	#section-encuentra{
		margin-top: 10rem;
	}
	#contene-maps{
		margin-top: 7rem;
	}
	#contene-maps hr{ 
		margin: 5rem auto;
	}
	.map{
		width: 400px; 
		height: 320px;
		left: 3rem;
	}
	.dir{
		width: 430px; 
		height: 420px;
		margin-right: 3rem;
		padding: 5rem 5rem; 
	}
	#dir-contene h2{
		font-size: 3rem;
		margin-bottom: 3.5rem;
	}
	#dir-contene h3{
		font-size: 2.5rem;
		margin-bottom: 1.5rem;
	}
	#dir-contene h4{
		font-size: 1.8rem;
		margin-bottom: 3rem;
	}
	.social-icon-map{
		font-size: 1.8rem;
	}

	.map-2{
		width: 400px; 
		height: 320px;
		right: 3rem;
	}
	.dir-2{
		width: 430px; 
		height: 420px;
		margin-left: 3rem;
		padding: 5rem 5rem; 
	}
}
/***** For medium devices : second breakpoint*****/
@media (max-width: 863px){
	.map{
		width: 500px; 
		height: 350px;
		left: 0;
		top: 4.5rem;
	}
	.dir{
		width: 650px; 
		height: 450px;
		margin-right: 0;
		padding: 6rem 7rem; 
		margin-bottom: 3rem;
	}
	#dir-contene h2{
		font-size: 3.4rem;
		margin-bottom: 2.7rem;
	}
	#dir-contene h3{
		font-size: 2.8rem;
		margin-bottom: 1.5rem;
	}
	#dir-contene h4{
		font-size: 2rem;
		margin-bottom: 2.6rem;
	}
	.social-icon-map{
		font-size: 2rem;
	}

	.map-2{
		width: 500px; 
		height: 350px;
		right: 0;
		top: 4.5rem;
	}
	.dir-2{
		width: 650px; 
		height: 450px;
		margin-left: 0;
		padding: 6rem 7rem; 
	}
	.disp-1{
		display: none;
	}
	.disp-2{
		display: flex;
	}
}
/***** For small devices *****/
@media (max-width: 767px){
	#section-encuentra{
		margin-top: 6rem;
	}
	#contene-maps{
		margin-top: 3rem;
	}
	#contene-maps hr{ 
		margin: 3rem auto;
	}
	.map{
		margin: 0; 
		padding: 0; 
		width: 500px; 
		height: 300px;
		top: 3.5rem;
	}
	.dir{
		margin-right: 0; 
		padding: 5rem 5.5rem; 
		width: 600px; 
		height: 400px; 
	}
	#dir-contene h2{
		font-size: 3rem;
		margin-bottom: 2.5rem;
	}
	#dir-contene h3{
		font-size: 2.5rem;
		margin-bottom: 1.5rem;
	}
	#dir-contene h4{
		font-size: 1.8rem;
		margin-bottom: 2.5rem;
	}
	.social-icon-map{
		font-size: 1.8rem;
	}
	.map-2{
		margin: 0; 
		padding: 0; 
		width: 500px; 
		height: 300px;
		top: 3.5rem;
	}
	.dir-2{
		margin-left: 0; 
		padding: 5rem 5.5rem; 
		width: 600px; 
		height: 400px; 
	}
}
/***** For extra-small devices *****/
@media (max-width: 575px){
	#section-encuentra{
		margin-top: 5rem;
	}
	#contene-maps{
		margin-top: 3rem;
	}
	#contene-maps hr{ 
		margin: auto auto;
	}
	.ubi{
		padding: 3rem;
	}
	.map{
		width: 90%;
		min-width: 90%; 
		height: 300px; 
		left: 0;
		position: static; 
		border: solid red thin;
	}
	.dir{
		margin-right: 0;
		margin-top: 2rem;
		padding: 4rem 5rem; 
		width: 90%;
		min-width: 90%; 
		height: 320px;
		margin-bottom: 0;
	}
	#dir-contene h2{
		font-size: 2.8rem;
		margin-bottom: 2.5rem;
	}
	#dir-contene h3{
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	#dir-contene h4{
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}
	.social-icon-map{
		font-size: 1.6rem;
	}

	.map-2{
		width: 100%;
		min-width: 300px; 
		height: 300px; 
		right: 0;
		position: static; 
	}
	.dir-2{
		margin-left: 0;
		margin-top: 2rem;
		padding: 4rem 5rem; 
		width: 100%;
		min-width: 300px; 
		height: 320px;
	}
}
@media (max-width: 400px){
	.dir{
		padding: 3rem 3rem; 
	}
}


/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/


/******************* NOSOTROS.HTML *********************/

/***** Sección Quienes Somos *****/
.nosotrosSomos{
	display: flex;
	flex-direction: column;
}
#title-somos-Nosotros{
	margin-bottom: 5rem;
}


/***** Sección Mision-Vision *****/
#mis-vis{
	margin-top: 15rem;
	padding: 3rem 0;
}
.mis-vis__contene{
	display: flex; 
	justify-content: space-evenly;
	margin: 0;
	margin-top: 5rem;
	padding: 0;
}
#mis-contene{
	height: 30rem; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	border-radius: 2rem; 
	border-style: dashed; 
	border-width: 2px; 
	border-color: gray;
}
#mis-contene p{
	margin: 0;
}
#mis-titl{
	height: 30rem; 
	display: flex; 
	align-items: center; 
	justify-content: center;  
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: top; 
	border-radius: 2rem;"
}
/*** For medium devices ***/
@media(max-width: 767px){
	#mis-vis{
		margin-top: 10rem;
	}
	.mis-vis__contene{ 
		margin-top: 5rem;	
	}
	#mis-contene{
		margin-top: 5rem;
	}
	#smdvc{
		flex-direction: column-reverse;
		align-items: center;
	}
}
/*** For small devices ***/
@media(max-width: 575px){
	#mis-vis{
		margin-top: 8rem;
	}
	.mis-vis__contene{ 
		margin-top: 4rem;	
	}
	#mis-contene{
		margin-top: 4rem;
	}
	#mis-contene{
		padding: 3rem;
	}
	#mis-contene p{
		font-size: 1.5rem;
	}
}
@media(max-width: 400px){
	.mis-vis__contene{ 
		margin-top: 3rem;	
	}
	#mis-contene{
		margin-top: 3rem;
	}
}
@media(max-width: 320px){
	#mis-contene{
		overflow-y: auto;
	}
	#mis-contene p{
		font-size: 1.3rem;
	}
}


/***** Sección Nuestros Valores *****/
#section-valores{
	margin-top: 15rem;
	background-image: url(../img/teal-frame.webp); 
	background-repeat: no-repeat; 
	background-size: 100% 100%; 
	background-position: center;
}
#val-contene{
	margin-top: 7rem;
}
.val-col{ 
	border-radius: 2rem; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	flex-direction: column; 
	padding: 3rem; 
	margin-left: 1rem; 
	margin-right: 1rem;
}
#val-icon{
	color: goldenrod;
}
#val-icon i{
	font-size: 3rem; 
	align-self: center;
}
/*** Medium device ***/
@media (max-width: 992px){
	#section-valores{
		margin-top: 12rem;
	}
	#blank_space{
		height: 5rem;
	}
	.val-col{
		padding: 2rem;
	}
	.val-col h4{
		font-size: 2.5rem;
	}
	.val-col p{
		font-size: 1.5rem;
	}
}
/*** Small-Medium device ***/
@media (max-width: 767px){
	#section-valores{
		margin-top: 10rem;
	}
	#val-contene{
		margin-top: 5rem;
	}
	.val-col{
		padding: 1rem;
	}
	.val-col h4{
		font-size: 2.3rem;
	}
	.val-col p{
		font-size: 1.4rem;
	}
}
/*** Small-Medium device ***/
@media (max-width: 575px){
	#section-valores{
		margin-top: 8rem;
	}
	#blank_space{
		height: 4rem;
	}
	#val-contene{
		margin-top: 3rem;
	}
}


/***** Sección Nuestro Equipo *****/
#seccion-team{
	display: flex; 
	flex-direction: column; 
	text-align: center; 
	margin: 0;
	margin-top: 15rem;
	padding: 0;
}
.card-team{
	align-items: center;
	border-radius: 0;
	border: none;
}
#team-image{
	width: 13rem; 
	height: 13rem; 
	border-radius: 50%; 
	position: absolute;
}
#team-image img{
	width: 100%; 
	height: 100%; 
	object-fit: cover; 
	border-radius: 50%;
}
.card-container{
	background-color: #20222c; 
	width: 100%; 
	margin-top: 6.5rem;
	border-radius: 1rem;
}
.card-container h4{
	font-size: 2rem;
}
.card-container p{
	font-size: 1.6rem;
	margin: 3rem 2rem;
}


/***** Sección Certificaciones *****/
#certiSection{
	margin-top: 15rem;
}
.certiRow{
	margin: 5rem 2rem; 
	display: flex; 
	justify-content: space-evenly;
}
.certiCol{
	width: 20rem; 
	height: 18rem;
}
.certiCol img{
	width: 100%; 
	height: 100%;
}
@media (max-width: 991px){
	.certiCol{
		width: 22%; 
		height: 15rem;
	}
}
@media (max-width: 724px) and (min-width: 576px){
	.certiCol{
		width: 22%; 
		height: 12rem;
	}
}
@media (max-width: 575px){
	.certiCol{
		width: 14rem; 
		height: 12rem;
		margin: 1rem;
	}
}


/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/


/******************* VACANTES.HTML *********************/

/***** Sección Presentación *****/
#section-princi{
	position: relative;
	bottom: 7.3rem;
	z-index: 0;
	margin: 0;
	height: 120vh;
	padding-bottom: 5rem;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	background-image: url("../img/blue-bg.svg");
	/*background-image: url(https://assets-global.website-files.com/600fe6e1ff56080deca9f06e/60c621e546876939da37a618_shape-bottom-1920.svg);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
@media screen and (max-width: 318px){
	#section-princi {
		bottom: 12.7rem;
	}
}
#princi-contene{
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	padding: 1rem;
}
#princi-contene h2{
	font-size: 6rem;
}
#princi-contene h4{
	font-size: 2rem;
}
#row-btns{
	width: 100%; 
	margin: 0;
}
#contene-btn{
	width: fit-content;
	padding: 0;
}
#io{
	font-size: 2rem;
	font-weight: bold;
	position: relative;
	bottom: 0;
	transition: bottom 0.3s;
	padding: 1rem 2rem;
	border-radius: 1.8rem;
	color: white;
	background-color: var(--primario);	
	border: solid var(--primario) thin;
}
#io:hover{
	bottom: 5px;
	color: var(--primario);
	border: solid var(--blanco) thin;
	background-color: var(--blanco);
}
#io-Out{
	font-size: 2rem;
	position: relative;
	bottom: 0;
	transition: bottom 0.3s;
	padding: 1rem 2rem;
	border-radius: 1.8rem;
	background-color: var(--blanco);
	border: solid var(--blanco) thin;
	color: var(--primario);
}
#io-Out:hover{
	bottom: 5px;
	color: white;
	border: none;
	background-color: var(--primario);	
	border: solid var(--primario) thin;
}
@media (max-width: 1200px){
	#princi-contene h2{
		font-size: 4rem;
	}
}
@media (max-width: 991px){
	#section-princi{
		height: 120vh;
		padding: 12rem 0;
		height: fit-content;
	}
	#princi-contene{
		text-align: center;
	}
	#princi-contene h4{
		font-size: 1.8rem;
	}
	#princi-img{
		margin-top: 5rem;
	}
	#row-btns{ 
		justify-content: center;
	}
	#io{
		font-size: 1.6rem;
	}
	#io-Out{
		font-size: 1.6rem;
	}
}
@media (max-width: 767px){
	#princi-contene h2{
		font-size: 3.5rem;
	}
	#princi-contene h4{
		font-size: 1.6rem;
	}
}
@media (max-width: 576px){
	#princi-contene h2{
		font-size: 3.2rem;
	}
	#io:hover{
		bottom: 0;
	}
	#io-Out:hover{
		bottom: 0;
	}
}
@media (max-width: 366px){
	#contene-btn{
		margin: 0.5rem;
	}
}


/***** Sección Nuestra Cultura *****/
#section-culture{
	padding: 0;
	margin: 0; 
	margin-top: 15rem; 
	display: flex;
	flex-direction: column;
	align-items: center;
}
#row-imgs{
  	display: flex;
  	flex-wrap: wrap;
  	margin-top: 5rem;
	padding: 1rem;
	display: flex;
	justify-content: center;
}
.column {
  	flex: 35%;
  	max-width: 35%;
  	padding: 1rem;
}
.bicolumn{
	flex: 30%;
  	max-width: 30%;
  	padding: 0 1rem;;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: space-evenly;
}
.flex-img{
  	width: 100%;
  	border-radius: 2rem;
}
/*** For medium devices ***/
@media screen and (max-width: 767px) {
  	.column {
   	flex: 33%;
   	max-width: 33%;
   	padding: 0;
  	}
	.bicolumn {
    	flex: 33%;
    	max-width: 33%;
    	padding: 0 .5rem;
  	}
}
/*** For small devices ***/
@media screen and (max-width: 576px) {
  	.flex-img{
	 	width: 48%;
	}
  	.column {
   	flex: 100%;
   	max-width: 100%;
   	padding: 2rem 1rem;
  	}
  	.column img{
   	width: 100%;
  	}
  	.bicolumn {
  		padding: 0 .3rem;
   	flex: 100%;
   	max-width: 100%;
   	display: flex;
   	flex-direction: row;
   	justify-content: space-evenly;
  	}
}


/***** Sección Coworkers *****/
#section-coworkers{
	margin-top: 15rem;
}
#contain-testimonials{
	margin-top: 5rem;
	padding: 0;
	width: 75%;
}
.card-coworker{
	margin: 0;
	padding: 5rem 0;
	width: 100%;
	border-bottom: solid gray thin; 
	display: flex;
}
.img-coworker{
	width: 10rem; 
	min-width: 10rem;
	height: 10rem; 
}
.img-coworker img{
	width: 100%; 
	height: 100%; 
	object-fit: cover; 
	border-radius: 50%;
}
.info-coworker{
	margin-left: 3rem; 
}
.info-coworker div{
	border-left: solid cadetblue 2px; 
	padding-left: 2rem;
}
.info-coworker div h3{
	font-size: 2.8rem;
}
.info-coworker h4{
	margin: 0;
	margin-top: 3rem;
	text-transform: uppercase;
	font-weight: bold; 
	font-size: 2rem;
}
/*** For large devices ***/
@media screen and (max-width:  1200px){
	#contain-testimonials{
		width: 80%;
	}
}
/*** For medium devices ***/
@media screen and (max-width:  991px){
	#contain-testimonials{
		width: 90%;
	}
	.info-coworker div h3{
		font-size: 2.5rem;
	}
	.info-coworker h4{
		font-size: 2rem;
	}
}
/*** For small devices ***/
@media screen and (max-width:  767px){
	.img-coworker{
		width: 9rem; 
		min-width: 9rem;
		height: 9rem; 
	}
	.info-coworker div h3{
		font-size: 2.2rem;
	}
	.info-coworker h4{
		font-size: 1.6rem;
	}
}
/*** For extra-small devices ***/
@media screen and (max-width:  490px){
	.card-coworker{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 3rem 0;
	}
	.img-coworker{
		margin-bottom: 2rem;
	}
	.info-coworker{
		margin-left: 0; 
	}
	.info-coworker div h3{
		font-size: 1.8rem;
	}
	.info-coworker h4{
		font-size: 1.6rem;
	}
}


/***** Sección Vacantes Disponibles *****/
#section-vacancy{
	margin-top: 15rem;
}
.vac-row{
	display: flex; 
	justify-content: space-between;
	align-items: center;
	padding: 0rem 2rem;
}
.vac-col{
	border: solid transparent thin;
	border-radius: 2rem;
	padding: 2rem;
	max-width: 48%;
	margin-top: 7rem;
}
#vac-ubi{
	display: flex;
	margin-bottom: 2rem;
}
#vac-ubi div{
	display: flex;
	margin: 0;
}
#vac-ubi i{
	font-size: 2rem;
	margin-right: 0.5rem;
	display: flex;
	align-content: center;
}
#vac-ubi h5{
	margin: auto 0;
}
#vac-ubi hr{
	height: 1px; 
	width: 3rem; 
	opacity: 0.5; 
	margin: auto; 
	margin-left: 2rem; 
	margin-right: 2rem;
}
#vac-title{
	color: var(--primario);
	font-weight: bold;
	margin-top: 1.2rem;
}
#vac-tiempo{
	color: var(--primario);
}
#vac-descrip{
	font-style: italic;
	margin-top: 1.5rem;
}
#vac-salario{
	margin-top: 1.3rem;
	font-size: 2.5rem;
}
.vac-col div{
	margin-top: 1.8rem;
}
/*** For large devices ***/
@media screen and (max-width: 1200px) {
	.vac-col{
		border: solid lightgray thin;
		transition: border 5s;
	}
}
/*** For medium devices ***/
@media screen and (max-width: 767px) {
	.vac-row{ 
		justify-content: center;
		align-items: center;
		padding: 0;
	}
	.vac-col{
		max-width: 100%;
	}
}
@media screen and (max-width: 400px) {
	#vac-ubi{
		justify-content: space-between;
	}
	#vac-ubi hr{  
		display: none;
	}
	#vac-title{
		font-size: 2.8rem;
	}
}

/*** Modal form ***/
#openModal{
	font-size: 1.6rem;
	font-weight: bold;
	position: relative;
	bottom: 0;
	transition: bottom 0.3s;
	padding: .8rem 2rem;
	border-radius: 1.2rem;
	color: white;
	background-color: var(--primario);	
	border: solid var(--primario) thin;
}
#openModal:hover{
	bottom: 5px;
	color: var(--primario);
	border: solid var(--primario) thin;
	background-color: var(--blanco);
}



/* The Modal (background) */
.modal {
	margin: 0;
  	display: none; 			/* Hidden by default */
  	position: fixed; 		/* Stay in place */
  	z-index: 1;
  	padding: 0; 			/* Sit on top */
  	padding-top: 10rem; 	
  	padding-bottom: 20rem; 	
  	left: 0;
  	top: 0;
  	justify-content: center;
  	width: 100%; 			/* Full width */
  	height: 100%; 			/* Full height */
  	overflow: scroll; 		/* Enable scroll if needed */
  	background-color: rgb(0,0,0); 		/* Fallback color */
  	background-color: rgba(0,0,0,0.4); 	/* Black w/ opacity */
}
/* The Close Button */
.close {
	position: absolute;
  	top: 1.5rem;
  	right: 1.5rem;
  	color: #f1f1f1;
  	font-size: 4rem;
  	width: 4rem;
  	height: 4rem;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-weight: bold;
  	transition: 0.3s;
}
.close:hover,
.close:focus {
  	color: #000;
  	text-decoration: none;
  	cursor: pointer;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  	from {top:-300px; opacity:0} 
  	to {top:0; opacity:1}
}
@keyframes animatetop {
  	from {top:-300px; opacity:0}
  	to {top:0; opacity:1}
}

/* Modal Content */
.modal-content {
  	position: relative;
  	background-color: #fefefe;
  	margin: 0;
  	padding: 0;
  	border: none;
  	border-radius: 1.1rem;
  	width: 65%;
  	height: fit-content;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  	-webkit-animation-name: animatetop;
  	-webkit-animation-duration: 0.4s;
  	animation-name: animatetop;
  	animation-duration: 0.4s
}
.modal-header {
	border-radius: 1rem 1rem 0 0;
  	padding: 2.5rem 1.5rem;
  	background-color: var(--primario);
  	color: white;
	flex-direction: column;
}
.modal-header #vac-ubi{
	margin: 0;
	margin-top: 2rem;
}
.modal-header #vac-ubi h5{
	color: white;
}
.modal-header #vac-title{
	color: white;
	margin: 0;
	font-size: 3.8rem;
}
.modal-body {
	padding: 2.5rem;
}
.modal-body #vac-descrip{
	margin: 0;
}
.modal-body #vac-salario-t{
	margin-top: 2rem;
	font-size: 2.5rem;
}
.modal-body #vac-salario{
	margin-top: .7rem;
	font-size: 2.2rem;
	opacity: .8;
}
#modalForm{
	margin-top: 5rem;
}
#modalForm .colForm{
	padding: 0 2rem;
}

/*** For large devices ***/
@media screen and (max-width: 1200px){
	.modal-header #vac-ubi hr{ 
		width: 2rem;   
		margin-left: 1rem; 
		margin-right: 1rem;
	}
}
/*** For medium devices ***/
@media screen and (max-width: 991px){
	.modal-header #vac-title{
		padding: 0;
		font-size: 3.2rem;
	}
	.modal-header #vac-ubi{
		margin: 0;
		margin-top: 1.5rem;	
	}
	#modalForm .colForm{
		padding: 0 .5rem;
	}
}
/*** For small devices ***/
@media screen and (max-width: 767px){
	.modal-content {
	  	width: 75%;
	}
	.modal-body #vac-salario-t{
		font-size: 2rem;
	}
	.modal-body #vac-salario{
		font-size: 1.8rem;
	}
	#modalForm{
		margin-top: 3rem;
	}
	#modalForm .rowForm{
		flex-direction: column;
		align-content: center;
		margin: 0;
	}
	#modalForm .colForm{
		padding: 0 1rem;
	}
	#modalForm h3{
		font-size: 2.8rem;
	}
}
/*** For small devices ***/
@media screen and (max-width: 575px){
	.modal-header #vac-title{
		font-size: 2.8rem;
	}
	.modal-content {
	  	width: 80%;
	}
	.modal-body #vac-salario-t,
	.modal-body #vac-salario{
		text-align: center;
	}
	#modalForm{
		margin-top: 2rem;
	}
	#modalForm .colForm{
		padding: 0;
	}
	#modalForm .rowForm{
		width: 100%;
		margin: 0;
	}
	.modal-body {
		padding: 1.5rem;
	}
	.modal-header #vac-ubi i{
		font-size: 1.6rem;
	}
	.modal-header #vac-ubi h5{
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 400px){
	.modal-content {
	  	width: 85%;
	}
	.modal-header #vac-ubi hr{  
		display: flex;
		width: 1rem;
		margin-left: .5rem;
		margin-right: .5rem;
	}
}